In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
A database is a collection of data that is organized, which is also called structured data. 
It can be accessed or stored in a computer system. It can be managed through a Database Management System (DBMS),
a software used to manage data. Database refers to related data in a structured form.

SQL:
    *RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)
    *These databases have fixed or static or predefined schema
    *These databases are not suited for hierarchical data storage.
    *These databases are best suited for complex queries
    *Vertically Scalable
    *Follows ACID property

NoSQL:
    *Non-relational or distributed database system.
    *They have a dynamic schema
    *These databases are best suited for hierarchical data storage.
    *These databases are not so good for complex queries
    *Horizontally scalable
    *Follows CAP(consistency, availability, partition tolerance)

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
DDL stands for Data Definition Language. 
These commands are used to change the structure of a database and database objects.For example, DDL commands can be used to add, remove, or modify tables with in a database.

In [ ]:
CREATE:
The CREATE statement is used to create new database objects, such as tables, indexes, views, and more.

CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    salary DECIMAL(10, 2)
);


DROP:
    The DROP statement is used to delete or remove existing database objects, such as tables, indexes, or views.

DROP TABLE employees;

ALTER:
    The ALTER statement is used to modify the structure of existing database objects, such as adding or dropping columns, modifying data types, or changing constraints.

ALTER TABLE employees
ADD COLUMN department VARCHAR(50);

TRUNCATE:
The TRUNCATE statement is used to remove all rows from a table, effectively resetting the table to an empty state. Unlike DELETE, TRUNCATE is a faster operation and does not log individual row deletions.

TRUNCATE TABLE employees;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example

In [ ]:

DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to manipulate and query data stored in relational databases. DML operations primarily deal
with the manipulation of data within database tables. 

INSERT:
    Used to add new rows (records) into a table.
    
    INSERT INTO employees (employee_id, first_name, last_name, salary)
VALUES (1, 'John', 'Doe', 50000);

UPDATE:
    Used to modify existing data in a table.
UPDATE employees SET salary = 55000 WHERE employee_id = 1;

DELETE:
Used to remove one or more rows from a table.
DELETE FROM employees WHERE employee_id = 1;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.

In [ ]:
DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) that specifically deals with the retrieval of data from a relational database. 
DQL is primarily focused on querying and extracting information from database tables. 

SELECT:
The SELECT statement is used to retrieve data from one or more tables in a database. It allows you to specify the columns you want to retrieve, apply filtering conditions, and define the order in which the results should be presented.

SELECT first_name, last_name, salary
FROM employees
WHERE department = 'IT'
ORDER BY last_name;

In [ ]:
Q5. Explain Primary Key and Foreign Key.

In [ ]:
primary:
    A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values.
It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 

Foreign:
    A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.2.0-cp310-cp310-manylinux_2_17_x86_64.whl (31.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 31.6/31.6 MB 48.7 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /opt/conda/lib/python3.10/site-packages (from mysql-connector-python) (4.21.11)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.2.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
import mysql.connector

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"  # Add this line with your actual database name
)

print(mydb)

In [ ]:
cursor() Method:

    The cursor() method is used to create a cursor object, which is used to interact with the MySQL database.
A cursor is essentially a pointer or an iterator that allows you to traverse and manipulate the rows retrieved from a database query.
The cursor object acts as a handle for database operations, allowing you to execute SQL queries, fetch results, and perform various database-related tasks.

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="yourusername",
    password="yourpassword",
    database="yourdatabase"
)
mycursor = mydb.cursor()

In [ ]:
execute() Method:

The execute() method is used to execute SQL queries or commands through the cursor.
It takes an SQL query as a parameter and executes it against the connected database.
You can use placeholders in the SQL query and pass values as a tuple to prevent SQL injection.

sql_query = "SELECT * FROM your_table WHERE column_name = %s"

values = ("some_value",)
mycursor.execute(sql_query, values)

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
*SELECT: This clause specifies the columns that you want to retrieve from the database.

*FROM: This clause specifies the table or tables from which to retrieve the data specified in the SELECT clause.

*WHERE: This clause is used to filter the rows returned by the SELECT and JOIN clauses based on a specified condition.

*GROUP BY: This clause is used to group rows that have the same values in specified columns into summary rows, like "total sales per category."

*HAVING: This clause is used to filter the results of the GROUP BY clause based on a specified condition.

*ORDER BY: This clause is used to sort the result set based on one or more columns.

*LIMIT/OFFSET: These clauses are used to restrict the number of rows returned by the query. LIMIT specifies the maximum number of rows to return, and OFFSET specifies the number of rows to skip before starting to return rows.