In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(data)

print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the 
variable print it

In [3]:
import pandas as pd

l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

s = pd.Series(l)

print(s)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data:
    Name   Age   Gender
    Alice   25    Female
    Bob     30     Male
    Claire  27     Female

In [4]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.
Pandas Series is a 1D array of data, but a single-column DataFrame is a 2D table with one column

In [5]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can 
you give an example of when you might use one of these functions?

In [ ]:
head() and tail(): Display the first or last n rows of the DataFrame.
describe(): Generate descriptive statistics of the DataFrame.
info(): Display a concise summary of the DataFrame, including data types and missing values.
sort_values(): Sort the DataFrame by one or more columns.
filter(): Select rows that meet specified conditions.

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
Series: Mutable. You can modify the values in a Series after it has been created.

DataFrame: Mutable. You can modify the values, add or remove columns, and perform various operations on a DataFrame.

Panel: Immutable. The Panel has been deprecated since Pandas version 0.25.0. The recommended approach for handling three-dimensional data is to use MultiIndex DataFrames.

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.

In [6]:
import pandas as pd

names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

data = {'Name': names, 'Age': ages, 'Gender': genders}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female